.box{
    padding: 100px 0;
    background-image: url(/img/grey-line.png);
    background-repeat: no-repeat;
    background-position-y: 150px;
    &__list{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
    }
    &__item{
        width: 350px;
    }
    &__heading{
        color: #495567;
    }
    &__text{
        color: #939CAA;
    }
}


@media (max-width: 1100px){
    .box{
        background-size: 800px;
        background-position-y: 160px;
        &__text{
            width: 300px;
        }
    }
}

@media (max-width: 1020px){
    .box{
        background-size: 700px;
        &__text{
            width: 280px;
        }
    }
}
@media (max-width: 920px){
    .box{
        background-size: 650px;
        &__text{
            width: 250px;
        }
    }
}

@media (max-width: 820px){
    .box{
        background-image: url(/img/bigline.png);
        background-size: 10px 800px;
        background-position-x: 150px;
        background-position-y: -120px;
        &__list{
            flex-direction: column;
            padding-left: 80px;
        }
        &__item{
            display: flex;
        }
        &__img{
            width: 96px;
            height: 96px;
            margin-top: 35px;
        }
        &__nav{
            padding-left: 100px;
        }
        &__heading{
            width: 300px;
            font-size: 28px;
        }
        &__text{
            width: auto;
            padding-right: 0;
        }
    }
}

@media (max-width: 720px){
    .box{
        background-position-x: 135px;
        background-size: 10px 100%;
        background-position-y: -300px;
        &__list{
            padding: 40px;
        }
    }
}

@media (max-width: 620px){
    .box{
        &__list{
            padding-left: 35px;
        }
        &__nav{
            padding-left: 30px;
        }
    }
}

@media (max-width: 520px){
    .box{
        background-image: none;
        &__item{
            flex-wrap: wrap;
            text-align: center;
        }
        &__nav{
            padding: 0;
        }
        &__img{
            margin-left: 100px;
        }
    }
}
@media (max-width: 420px){
    .box__list{
        padding: 15px;
    }
}