.container{
    width: 1140px;
    margin: 0 auto;
    // border: 1px solid red;
}


@media (max-width: 1100px){
    .container{
        width: 1000px;
    }
}
@media (max-width: 1020px){
    .container{
        width: 900px;
    }
}
@media (max-width: 920px){
    .container{
        width: 800px;
    }
}
@media (max-width: 820px){
    .container{
        width: 768px;
    }
}
@media (max-width: 720px){
    .container{
        width: 600px;
    }
}
@media (max-width: 620px){
    .container{
        width: 500px;
    }
}
@media (max-width: 520px){
    .container{
        width: 400px;
    }
}
@media (max-width: 420px){
    .container{
        width: 375px;
    }
}